.hero {
    background: linear-gradient(258.67deg, #C2C8FF -3.38%, #fff 79.03%);
}

.line {
    background-image: url(/images/underline.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: left 100%;
}

.text {
    font-size: 38px
}

@media (max-width:600px) {
    .text {
        font-size: 24px;
    }
}

.office-img::after {
    content: "";
    width: 250px;
    height: 250px;
    background: #95A6FF;
    border-radius: 8px 8px 100px 8px;
    position: absolute;
    right: -30px;
    bottom: -30px;
}

@media (max-width: 1199.98px) {
    .office-img::after {
        right: -16px;
        bottom: -16px;
    }
}

@media (max-width: 850px) {
    .office-img::after {
        right: 65px !important;
    }
}

@media (max-width: 600px) {
    .office-img::after {
        right: -6px !important;
        bottom: -6px;
    }

    .quote {
        opacity: .1;
    }
}

input:focus {
    outline: none
}

.w-input {
    width: 48% !important;
}

@media (max-width: 600px) {
    .w-input {
        width: 100% !important;
    }
}

.nav {
    transition: all .5s ease-in-out;
}

.overflow {
    overflow-x: auto;
}

.overflow button {
    white-space: nowrap
}