.hero{
    background: linear-gradient(258.67deg, #C2C8FF -3.38%, #fff 79.03%);
}
.line{
    background-image: url(/images/underline.svg);
    background-repeat: no-repeat;
    background-position: left 100%;
}
.text{
    font-size:38px
}